.footer{
    padding: 20px;
    min-height: 170px;
    background: linear-gradient(to bottom right, rgb(0, 71, 165), rgb(11, 0, 58));
    &__info{
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        color: rgb(201, 201, 201);
        font-weight: 500;
        span{
            color: rgb(255, 136, 0);
        }
    }
}
