.footer{
    padding: 20px;
    min-height: 170px;
    background-color: rgb(36, 36, 36);
    &__info{
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        color: rgb(201, 201, 201);
        font-weight: 500;
        span{
            color: rgb(255, 136, 0);
        }
    }
}