@media (max-width: 1440px){
    .carousel__inner{
        width: 900px;
    }
}
@media (max-width: 1192px){
    .carousel__inner{
        width: 950px;
    }
}
@media (max-width: 1092px){
    .carousel__inner{
        width: 900px;
    }
}
@media (max-width: 1024px){
    .carousel{
        max-width: 900px;
    }
}
@media (max-width: 1024px){
    .carousel{
        display: none;
    }
}
@media (max-width: 720px){
    .carousel{
        display: none;
    }
    .header{
        justify-content: center;
        padding: 0;
        margin: 0;
        max-width: 720px;
        img{
            margin-left: 45px;
            width: 150px;
        }
        &__main_text{
            display: none;
        }
        &__location{
            margin-left: 60px;
        }
        .button{
            margin-right: 35px;
            height: 50px;
            width: 150px;
            font-size: 14px;
        }
        a{
            width: 200px;
        }
    }  
    .title{
        text-align: center;
    }
    .title__menu{
        margin-top: 20px;
        text-align: center;
    }
    .catalog{
        width: 100%;
    }
    .catalog-item__link{
        padding: 0 30%;
    }
    .catalog__tab{
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 210px;
        font-size: 16px;
        img{
            top: 25px;
            left: -5px;
            width: 100%;
        }
    }
    .catalog__tabs{
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 5px;
    }
    .under__info{
        width: 350px;
    }
    .under__phone{
        margin-bottom: 0px;
    }
    .under__social{
        a{
            padding-top: 0px;
        }
    }
    .catalog-item{
        min-height: 200px;
        width: 200px;
    }
    .catalog__content{
        justify-content: center;
        gap: 0px 15px;
        padding: 5px;
    }
    .catalog-item__back{
        font-size: 12px;
    }
    .catalog-item__list li{
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0px;
        font-size: 12px;
    }
    .catalog-item__list{
        margin-bottom: 0px;
    }
    .catalog-item__subtitle{
        text-align: center;
        padding: 0px 8px;
        font-size: 15px;
    }
    .catalog-item__link{
        font-size: 15px;
        padding: 0 25%;
    }
    .catalog-item__footer{
        margin-top: 0px;
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .catalog-item__price{
        padding: 5px;
        font-size: 15px;
    }
    .catalog-item__btn{
        padding: 5px;
        width: 60px;
        height: 40px;
        font-size: 16px;
    }
    .catalog-item__content{
        img{
            width: 99%;
            height: auto;
        }
    }
    .overlay .modal-form{
        input{
            width: 200px;
        }
    }
    .overlay .modal__close {
        right: 10px;
        color: $main-color;
    }
    .overlay .modal_consultation {
        width: 300px;
        min-height: 390px;
    }
    .overlay #order {
        width: 300px;
        min-height: 540px;
    }
    .overlay .modal_mini {
        width: 300px;
        min-height: 390px;
    }
}
@media (max-width: 491px){
    .carousel{
        display: none;
    }
    .header{
        justify-content: center;
        padding: 0;
        margin: 0;
        max-width: 491px;
        img{
            margin-left: 10px;
            width: 150px;
        }
        &__main_text{
            display: none;
        }
        &__location{
            display: none;
        }
        .button{
            margin-right: 5px;
            height: 50px;
            width: 130px;
            font-size: 14px;
        }
        a{
            width: 200px;
        }
    }  
    .title{
        text-align: center;
        &__menu{
            margin-top: 20px;
            text-align: center;
        }
    }
    .under{
        &__info{
            width: 350px;
        }
        &__phone{
            margin-bottom: 0px;
        }
        &__social{
            a{
                padding-top: 0px;
            }
        }
    }
    .catalog{
        width: 100%;
        &-item{
            min-height: 200px;
            width: 180px;
            &__back{
                font-size: 12px;
            }
            &__list{
                margin-bottom: 0px;
                li{
                    margin-bottom: 10px;
                    margin-top: 10px;
                    margin-left: 0px;
                    font-size: 11px;
                }
            }
            &__subtitle{
                padding: 0px 8px;
                font-size: 13px;
            }
            &__link{
                font-size: 12px;
                padding: 0 30%;
            }
            &__footer{
                margin-top: 0px;
                padding: 10px;
                justify-content: center;
                align-items: center;
            }
            &__price{
                padding: 5px;
                font-size: 13px;
            }
            &__btn{
                padding: 5px;
                width: 60px;
                height: 40px;
                font-size: 14px;
            }
            &__content{
                img{
                    width: 99%;
                    height: auto;
                }
            }
        }
        &__content{
            justify-content: center;
            gap: 0px 15px;
            padding: 5px;
        }
        &__tab{
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 210px;
            font-size: 16px;
            img{
                top: 25px;
                left: -5px;
                width: 100%;
            }
        }
        &__tabs{
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 5px;
        }
    }
    .overlay{
        .modal-form{
            input{
                width: 200px;
            }
        }
        .modal__close{
            right: 10px;
            color: $main-color;
        }
        .modal_consultation{
            width: 300px;
            min-height: 390px;
        }
        .modal_mini{
            width: 300px;
            min-height: 390px;
        }
        #order{
            width: 300px;
            min-height: 540px;
        }
    }
}
@media (max-width: 425px){
    .carousel{
        display: none;
    }
    .header{
        justify-content: center;
        padding: 0;
        margin: 0;
        max-width: 424px;
        img{
            margin-left: 15px;
            width: 150px;
        }
        &__main_text{
            display: none;
        }
        &__location{
            display: none;
        }
        .button{
            margin-right: 35px;
            height: 50px;
            width: 150px;
            font-size: 14px;
        }
        a{
            width: 200px;
        }
    }
    .title{
        text-align: center;
        &__menu{
            margin-top: 20px;
            text-align: center;
        }
    }
    .under{
        &__info{
            width: 350px;
        }
        &__phone{
            margin-bottom: 0px;
        }
        &__social{
            a{
                padding-top: 0px;
            }
        }
    }  
    .catalog{
        width: 100%;
        &-item{
            min-height: 200px;
            width: 180px;
            &__back{
                font-size: 12px;
            }
            &__list{
                margin-bottom: 0px;
                li{
                    margin-bottom: 10px;
                    margin-top: 10px;
                    margin-left: 0px;
                    font-size: 11px;
                }
            }
            &__subtitle{
                padding: 0px 8px;
                font-size: 13px;
            }
            &__link{
                font-size: 12px;
                padding: 0 30%;
            }
            &__footer{
                margin-top: 0px;
                padding: 10px;
                justify-content: center;
                align-items: center;
            }
            &__price{
                padding: 5px;
                font-size: 13px;
            }
            &__btn{
                padding: 5px;
                width: 60px;
                height: 40px;
                font-size: 14px;
            }
            &__content{
                img{
                    width: 99%;
                    height: auto;
                }
            }
        }
        &__content{
            justify-content: center;
            gap: 0px 15px;
            padding: 5px;
        }
        &__tab{
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 180px;
            font-size: 16px;
            img{
                top: 25px;
                left: 0px;
                width: 100%;
            }
        }
        &__tabs{
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 5px;
        }
    }
    .overlay{
        .modal-form{
            input{
                width: 200px;
            }
        }
        .modal__close{
            right: 10px;
            color: $main-color;
        }
        .modal_consultation{
            width: 300px;
            min-height: 390px;
        }
        .modal_mini{
            width: 300px;
            min-height: 390px;
        }
        #order{
            width: 300px;
            min-height: 540px;
        }
    }
}
@media (max-width: 414px){
    .carousel{
        display: none;
    }
    .header{
        justify-content: center;
        padding: 0;
        margin: 0;
        max-width: 414px;
        img{
            margin-left: 15px;
            width: 150px;
        }
        &__main_text{
            display: none;
        }
        &__location{
            display: none;
        }
        .button{
            margin-right: 27px;
            height: 50px;
            width: 150px;
            font-size: 14px;
        }  
        a{
            width: 200px;
        }
    }
    .title{
        text-align: center;
        &__menu{
            text-align: center;
        }
    }
    .under{
        &__info{
            width: 350px;
        }
        &__phone{
            margin-bottom: 0px;
        }
        &__social{
            a{
                padding-top: 0px;
            }
        }
    }
    .catalog{
        width: 100%;
        &-item{
            min-height: 200px;
            width: 170px;
            &__back{
                font-size: 12px;
            }
            &__list{
                margin-bottom: 0px;
                li{
                    margin-bottom: 10px;
                    margin-top: 10px;
                    margin-left: 0px;
                    font-size: 11px;
                }
            }
            &__subtitle{
                padding: 0px 8px;
                font-size: 13px;
            }
            &__link{
                font-size: 12px;
                padding: 0 30%;
            }
            &____footer{
                margin-top: 0px;
                padding: 10px;
                justify-content: center;
                align-items: center;
            }
            &__price{
                padding: 5px;
                font-size: 13px;
            }
            &__btn{
                padding: 5px;
                width: 60px;
                height: 40px;
                font-size: 14px;
            }
            &__content{
                img{
                    width: 99%;
                    height: auto;
                }
            }
        }
        &__content{
            justify-content: center;
            gap: 0px 15px;
            padding: 5px;
        }
        &__tab{
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 175px;
            font-size: 16px;
            img{
                top: 25px;
                left: 0px;
                width: 100%;
            }
        }
        &__tabs{
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 5px;
        }
    }
    .overlay{
        .modal-form{
            input{
                width: 200px;
            }
        }
        .modal__close{
            right: 10px;
            color: $main-color;
        }
        .modal_consultation{
            width: 300px;
            min-height: 390px;
        }
        .modal_mini{
            width: 300px;
            min-height: 390px;
        }
        #order{
            width: 300px;
            min-height: 540px;
        }
    }
}
@media (max-width: 390px){
    .carousel{
        display: none;
    }
    .header{
        justify-content: center;
        padding: 0;
        margin: 0;
        max-width: 389px;
        img{
            margin-left: 15px;
            width: 150px;
        }
        &__main_text{
            display: none;
        }
        &__location{
            display: none;
        }
        .button{
            height: 50px;
            width: 150px;
            font-size: 14px;
        }  
        a{
            width: 200px;
        }
    }
    .title{
        text-align: center;
        &__menu{
            text-align: center;
        }
    }
    .under{
        &__info{
            width: 350px;
        }
        &__phone{
            margin-bottom: 0px;
        }
        &__social{
            a{
                padding-top: 0px;
            }
        }
    }
    .catalog{
        width: 100%;
        &-item{
            min-height: 200px;
            width: 160px;
            &__back{
                font-size: 12px;
            }
            &__list{
                margin-bottom: 0px;
                li{
                    margin-bottom: 10px;
                    margin-top: 10px;
                    margin-left: 0px;
                    font-size: 11px;
                }
            }
            &__subtitle{
                padding: 0px 8px;
                font-size: 13px;
            }
            &__link{
                font-size: 12px;
                padding: 0 30%;
            }
            &__footer{
                margin-top: 0px;
                padding: 10px;
                justify-content: center;
                align-items: center;
            }
            &__price{
                padding: 5px;
                font-size: 13px;
            }
            &__btn{
                padding: 5px;
                width: 60px;
                height: 40px;
                font-size: 14px;
            }
            &__content{
                img{
                    width: 99%;
                    height: auto;
                }
            }
        }
        &__content{
            justify-content: center;
            gap: 0px 15px;
            padding: 5px;
        }
        &__tab{
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 170px;
            font-size: 16px;
            img{
                top: 25px;
                left: -5px;
                width: 100%;
            }
        }
        &__tabs{
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 5px;
        }
    }
    .overlay{
        .modal-form{
            input{
                width: 200px;
            }
        }
        .modal__close{
            right: 10px;
            color: $main-color;
        }
        .modal_consultation{
            width: 300px;
            min-height: 390px;
        }
        .modal_mini{
            width: 300px;
            min-height: 390px;
        }
        #order{
            width: 300px;
            min-height: 540px;
        }
    }
}
@media (max-width: 375px){
    .carousel{
        display: none;
    }
    .header{
        justify-content: center;
        padding: 0;
        margin: 0;
        max-width: 375px;
        img{
            margin-left: 0px;
            width: 150px;
        }
        &__main_text{
            display: none;
        }
        &__location{
            display: none;
        }
        .button{
            margin-right: 27px;
            height: 50px;
            width: 120px;
            font-size: 14px;
        }
        a{
            width: 200px;
        }
    }
    .title{
        text-align: center;
        &__menu{
            text-align: center;
        }
    }
    .under{
        &__info{
            width: 350px;
        }
        &__phone{
            margin-bottom: 0px;
        }
        &__social{
            a{
                padding-top: 0px;
            }
        }
    }
    .catalog{
        width: 100%;
        &-item{
            min-height: 200px;
            width: 155px;
            &__back{
                font-size: 12px;
            }
            &__list{
                margin-bottom: 0px;
                li{
                    margin-bottom: 10px;
                    margin-top: 10px;
                    margin-left: 0px;
                    font-size: 11px;
                }
            }
            &__subtitle{
                padding: 0px 8px;
                font-size: 13px;
            }
            &__link{
                font-size: 12px;
                padding: 0 30%;
            }
            &____footer{
                margin-top: 0px;
                padding: 10px;
                justify-content: center;
                align-items: center;
            }
            &__price{
                padding: 5px;
                font-size: 13px;
            }
            &__btn{
                padding: 5px;
                width: 60px;
                height: 40px;
                font-size: 14px;
            }
            &__content{
                img{
                    width: 99%;
                    height: auto;
                }
            }
        }
        &__content{
            justify-content: center;
            gap: 0px 15px;
            padding: 5px;
        }
        &__tab{
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 170px;
            font-size: 16px;
            img{
                top: 25px;
                left: -5px;
                width: 100%;
            }
        }
        &__tabs{
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 5px;
        }
    }
    .overlay{
        .modal-form{
            input{
                width: 200px;
            }
        }
        .modal__close{
            right: 10px;
            color: $main-color;
        }
        .modal_consultation{
            width: 300px;
            min-height: 390px;
        }
        .modal_mini{
            width: 300px;
            min-height: 390px;
        }
        #order{
            width: 300px;
            min-height: 540px;
        }
    }
    .carousel{
        display: none;
    }
}
@media (max-width: 360px){
    .header{
        justify-content: space-around;
        padding: 0;
        margin: 0;
        max-width: 359px;
        img{
            margin-left: 15px;
            width: 150px;
        }
        &__main_text{
            display: none;
        }
        &__location{
            display: none;
        }
        .button{
            height: 50px;
            width: 100px;
            font-size: 12px;
        }  
    }
    .under{
        &__info{
            width: 319px;
        }
        &__phone{
            margin-bottom: 0px;
        }
        &__social{
            a{
                padding-top: 0px;
            }
        }
    }
    .catalog{
        width: 100%;
        &-item{
            min-height: 200px;
            width: 120px;
            &__back{
                font-size: 12px;
            }
            &__list{
                margin-bottom: 0px;
                li{
                    margin-bottom: 10px;
                    margin-top: 10px;
                    margin-left: 0px;
                    font-size: 11px;
                }
            }
            &__subtitle{
                padding: 0px 8px;
                font-size: 13px;
            }
            &__link{
                font-size: 12px;
                padding: 0 25%;
            }
            &____footer{
                margin-top: 0px;
                padding: 10px;
                justify-content: center;
                align-items: center;
            }
            &__price{
                padding: 5px;
                font-size: 13px;
            }
            &__btn{
                padding: 5px;
                width: 60px;
                height: 40px;
                font-size: 14px;
            }
            &__content{
                img{
                    width: 99%;
                    height: auto;
                }
            }
        }
        &__content{
            justify-content: center;
            gap: 0px 15px;
            padding: 5px;
        }
        &__tab{
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 170px;
            font-size: 12px;
            img{
                top: 25px;
                width: 107%;
            }
        }
        &__tabs{
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 5px;
        }
    }
    .overlay{
        .modal-form{
            input{
                width: 200px;
            }
        }
        .modal__close{
            right: 10px;
            color: $main-color;
        }
        .modal_consultation{
            width: 300px;
            min-height: 390px;
        }
        .modal_mini{
            width: 300px;
            min-height: 390px;
        }
        #order{
            width: 300px;
            min-height: 540px;
        }
    }
}
@media (max-width: 320px){
    hr{
        margin-top: 10px;
    }
    .header{
        justify-content: space-around;
        padding: 0;
        margin: 0;
        max-width: 319px;
        img{
            margin-left: 15px;
            width: 150px;
        }
        &__main_text{
            display: none;
        }
        &__location{
            display: none;
        }
        .button{
            height: 50px;
            width: 100px;
            font-size: 12px;
        }  
    }
    .under{
        &__info{
            width: 319px;
        }
        &__phone{
            margin-bottom: 0px;
        }
        &__social{
            a{
                padding-top: 0px;
            }
        }
    }
    .catalog{
        width: 100%;
        &-item{
            min-height: 200px;
            width: 120px;
            &__back{
                font-size: 12px;
            }
            &__list{
                margin-bottom: 0px;
                li{
                    margin-bottom: 10px;
                    margin-top: 10px;
                    margin-left: 0px;
                    font-size: 11px;
                }
            }
            &__subtitle{
                padding: 0px 8px;
                font-size: 13px;
            }
            &__link{
                font-size: 12px;
                padding: 0 17%;
            }
            &____footer{
                margin-top: 0px;
                padding: 10px;
                justify-content: center;
                align-items: center;
            }
            &__price{
                padding: 5px;
                font-size: 13px;
            }
            &__btn{
                padding: 5px;
                width: 60px;
                height: 40px;
                font-size: 14px;
            }
            &__content{
                img{
                    width: 99%;
                    height: auto;
                }
            }
        }
        &__content{
            justify-content: center;
            gap: 0px 15px;
            padding: 5px;
        }
        &__tab{
            justify-content: center;
            align-items: center;
            width: 40%;
            height: 150px;
            font-size: 12px;
            img{
                top: 25px;
                width: 107%;
            }
        }
        &__tabs{
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 5px;
        }
    }
    .overlay{
        .modal-form{
            input{
                width: 200px;
            }
        }
        .modal__close{
            right: 10px;
            color: $main-color;
        }
        .modal_consultation{
            width: 300px;
            min-height: 390px;
        }
        .modal_mini{
            width: 300px;
            min-height: 390px;
        }
        #order{
            width: 300px;
            min-height: 540px;
        }
    }
}